@import url("https://fonts.googleapis.com/css2?family=Bagel+Fat+One&family=Gaegu&family=Gowun+Dodum&display=swap");

@media (max-width: 1024px) {
  /*navmenu*/
  .toggle-menu {
    display: flex !important;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    cursor: pointer;
  }
  .menu {
    display: none !important;
  }
  /*geckocard*/
  .geckocard {
    padding: 0px 20px 0px 20px !important;
  }
  /*toggle*/
  .toggle {
    display: block !important;
  }
  /* footer */
  .footer {
    font-size: 1rem !important;
    white-space: nowrap;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gowun Dodum", sans-serif;
  font-weight: 400;
  font-style: normal;
}
li {
  list-style: none;
  color: inherit;
}
a {
  text-decoration: none !important;
}
.App {
  overflow-x: hidden;
}
/* nav */
.response {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  display: none;
  transition: all 0.3s;
}
.modalMenu {
  width: 300px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: #fff;
  box-shadow: 0px 0px 8px #999;
}
.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
  color: #999;
  cursor: pointer;
}
.modalMenu li {
  margin-top: 50px;
  border-bottom: 2px solid #999;
  padding-bottom: 20px;
}
.modalMenu li a {
  font-size: 2rem;
  text-decoration: none;
  color: inherit;
  transition: all 0.3s;
  font-weight: bold;
}
.modalMenu li a:hover {
  color: rgba(0, 150, 0, 0.7);
}
.toggle-menu {
  display: none;
  justify-content: end;
  font-size: 30px;
}
.nav-logo {
  text-align: center;
}
.nav-logo img {
  width: 100%;
  max-width: 400px;
}
.titleh1 {
  text-decoration: none;
  color: #000;
  font-size: 3rem;
  margin-bottom: 50px;
  font-weight: bold;
  color: rgba(0, 150, 0, 0.7);
  text-shadow: 0px 0px 2px #999;
  transition: all 0.3s;
}
.titleh1:hover {
  color: #999;
}
.nav-menu-area {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.searchIcon {
  color: rgba(0, 150, 0, 0.9);
}
.search-box input {
  border: none;
  border-bottom: 1px solid #999;
}
.search-box input:focus {
  outline: none;
}
.menu,
.gender {
  display: flex;
  gap: 15px;
  justify-content: center;
}
.menu li a,
.gender li a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}
.menu li,
.gender li {
  padding: 5px 10px;
  box-shadow: 0px 0px 4px green;
  border-radius: 10px;
  font-weight: bold;
  transition: all 0.3s;
}
.gender li {
  color: #fff;
  box-shadow: 0px 0px 4px #999;
}
.gender li:first-child {
  background: blue;
}
.gender li:nth-child(2) {
  background: violet;
}
.gender li:last-child {
  background: black;
}
.menu li:hover {
  background: rgba(0, 150, 0, 0.7);
  color: #fff;
}
/* geckocard */
.geckocard {
  /* border: 1px solid #ccc; */
  margin-bottom: 40px;
  margin-top: 60px;
  padding: 10px;
  cursor: pointer;
  box-shadow: 0px 0px 6px #999;
  border-radius: 20px;
}
.geckocard img {
  width: 100%;
}
.geckocard .textinfo {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  font-weight: bold;
}
.geckocard span {
  font-size: 1rem;
}

/* detail */
.gecko-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.slide {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.slideImgWrap {
  width: 100%;
  height: 100%;
  max-width: 840px;
  max-height: 840px;
}

.gecko-detail-img img {
  width: 100%;
  height: 100%;
  max-width: 840px;
  max-height: 840px;
}
.gecko-text {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-left: 50px;
  padding-right: 50px;
}
.gecko-text .textinfo {
  border-bottom: 2px solid #999;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 8px;
}
.textinfo span {
  font-weight: bold;
}

/* gecko weight */
.gecko-weight {
  display: flex;
}
/* toggle */
.toggle {
  position: fixed;
  left: 20px;
  bottom: 20px;
  display: none;
  z-index: 10;
}
.topBtn:hover {
  background: rgba(0, 150, 0, 1);
}
.topBtn {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  cursor: pointer;
  background: rgba(0, 150, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #fff;
  transition: all 0.3s;
}

/* footer */

.footer {
  width: 100%;
  height: 200px;
  background: rgba(0, 150, 0, 0.7);
  font-size: 1.5rem;
  position: relative;
}

.footerinfo_text {
  font-family: "Gowun Dodum", sans-serif;
}
.footer a {
  font-family: "Gowun Dodum", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  color: #fff;
}
.footer a:hover {
  color: #000;
}
.footerwrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
